<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>935681989054-ar1ssea035kb7lke5q4ii0ch5gtfgn73.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.935681989054-ar1ssea035kb7lke5q4ii0ch5gtfgn73</string>
	<key>API_KEY</key>
	<string>AIzaSyBwwyFozJoYRmo8vAXIK2Otd_xmJRWGxh4</string>
	<key>GCM_SENDER_ID</key>
	<string>935681989054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterShotDev</string>
	<key>PROJECT_ID</key>
	<string>flutter-shot-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-shot-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935681989054:ios:b2dcbad3b400cf810301ef</string>
</dict>
</plist>